body{

    background-color: rgb(142, 0, 0);
    max-width: 800px;
margin: auto;    
}
h1{
    font-size: 50px;
    color: rgb(0, 0, 0);
    text-align: center;
}

image{
    text-align: center ;
}
dl{
    text-shadow: 3cap;
    color: rgb(0, 0, 0);
    
}
h3{
    text-align: center;
    color: black;
}
